In [2]:
#Dependencies
import pymongo
import pandas as pd
import pprint
import numpy as np

# Extract CSV into DataFrame

In [3]:
#Read haunted places file
loc_file = "../static/data/haunted_places.csv"
loc_df = pd.read_csv(loc_file)
loc_df.head()

,city,country,description,location,state,state_abbrev,longitude,latitude,city_longitude,city_latitude
0,Ada,United States,Ada witch - Sometimes you can see a misty blue...,Ada Cemetery,Michigan,MI,-85.504893,42.962106,-85.495480,42.960727
1,Addison,United States,A little girl was killed suddenly while waitin...,North Adams Rd.,Michigan,MI,-84.381843,41.971425,-84.347168,41.986434
2,Adrian,United States,If you take Gorman Rd. west towards Sand Creek...,Ghost Trestle,Michigan,MI,-84.035656,41.904538,-84.037166,41.897547
3,Adrian,United States,"In the 1970's, one room, room 211, in the old ...",Siena Heights University,Michigan,MI,-84.017565,41.905712,-84.037166,41.897547
4,Albion,United States,Kappa Delta Sorority - The Kappa Delta Sororit...,Albion College,Michigan,MI,-84.745177,42.244006,-84.753030,42.243097

# Clean and Transform data

In [4]:
#Review NA columns
loc_df.count()

city              10989
country           10992
description       10992
location          10989
state             10992
state_abbrev      10992
longitude          9731
latitude           9731
city_longitude    10963
city_latitude     10963
dtype: int64

In [5]:
#Drop NA values
loc_df.dropna(inplace=True)

In [6]:
#Verify dropped values
loc_df.count()

city              9720
country           9720
description       9720
location          9720
state             9720
state_abbrev      9720
longitude         9720
latitude          9720
city_longitude    9720
city_latitude     9720
dtype: int64

In [7]:
#Count unique cities
loc_df.groupby("city").count()

,country,description,location,state,state_abbrev,longitude,latitude,city_longitude,city_latitude
city,,,,,,,,,
ARNOLD,1,1,1,1,1,1,1,1,1
Abbeville,1,1,1,1,1,1,1,1,1
Abercrombie,1,1,1,1,1,1,1,1,1
Aberdeen,6,6,6,6,6,6,6,6,6
Abilene,3,3,3,3,3,3,3,3,3
...,...,...,...,...,...,...,...,...,...
gettysburg,1,1,1,1,1,1,1,1,1
midland,1,1,1,1,1,1,1,1,1
sumter,1,1,1,1,1,1,1,1,1
the plains,1,1,1,1,1,1,1,1,1
township,1,1,1,1,1,1,1,1,1

In [8]:
#Count unique states
loc_df.groupby(["state", "state_abbrev"]).count()

,,city,country,description,location,longitude,latitude,city_longitude,city_latitude
state,state_abbrev,,,,,,,,
Alabama,AL,186,186,186,186,186,186,186,186
Alaska,AK,27,27,27,27,27,27,27,27
Arizona,AZ,144,144,144,144,144,144,144,144
Arkansas,AR,98,98,98,98,98,98,98,98
California,CA,1002,1002,1002,1002,1002,1002,1002,1002
Colorado,CO,150,150,150,150,150,150,150,150
Connecticut,CT,176,176,176,176,176,176,176,176
Delaware,DE,29,29,29,29,29,29,29,29
Florida,FL,302,302,302,302,302,302,302,302
Georgia,GA,238,238,238,238,238,238,238,238
Hawaii,HI,91,91,91,91,91,91,91,91
Idaho,ID,61,61,61,61,61,61,61,61
Illinois,IL,344,344,344,344,344,344,344,344
Indiana,IN,255,255,255,255,255,255,255,255
Iowa,IA,141,141,141,141,141,141,141,141
Kansas,KS,108,108,108,108,108,108,108,108
Kentucky,KY,310,310,310,310,310,310,310,310
Louisiana,LA,85,85,85,85,85,85,85,85
Maine,ME,48,48,48,48,48,48,48,48
Maryland,MD,137,137,137,137,137,137,137,137
Massachusetts,MA,311,311,311,311,311,311,311,311
Michigan,MI,458,458,458,458,458,458,458,458
Minnesota,MN,143,143,143,143,143,143,143,143
Mississippi,MS,56,56,56,56,56,56,56,56
Missouri,MO,268,268,268,268,268,268,268,268
Montana,MT,38,38,38,38,38,38,38,38
Nebraska,NE,92,92,92,92,92,92,92,92
Nevada,NV,54,54,54,54,54,54,54,54
New Hampshire,NH,64,64,64,64,64,64,64,64
New Jersey,NJ,174,174,174,174,174,174,174,174
New Mexico,NM,67,67,67,67,67,67,67,67
New York,NY,422,422,422,422,422,422,422,422
North Carolina,NC,188,188,188,188,188,188,188,188
North Dakota,ND,51,51,51,51,51,51,51,51
Ohio,OH,421,421,421,421,421,421,421,421
Oklahoma,OK,167,167,167,167,167,167,167,167
Oregon,OR,143,143,143,143,143,143,143,143
Pennsylvania,PA,576,576,576,576,576,576,576,576
Rhode Island,RI,63,63,63,63,63,63,63,63
South Carolina,SC,150,150,150,150,150,150,150,150
South Dakota,SD,65,65,65,65,65,65,65,65
Tennessee,TN,195,195,195,195,195,195,195,195
Texas,TX,637,637,637,637,637,637,637,637
Utah,UT,119,119,119,119,119,119,119,119
Vermont,VT,57,57,57,57,57,57,57,57
Virginia,VA,177,177,177,177,177,177,177,177
Washington,WA,201,201,201,201,201,201,201,201
Washington DC,DC,16,16,16,16,16,16,16,16
West Virginia,WV,93,93,93,93,93,93,93,93
Wisconsin,WI,250,250,250,250,250,250,250,250
Wyoming,WY,72,72,72,72,72,72,72,72

In [9]:
#Count unique country
loc_df.groupby("country").count()

,city,description,location,state,state_abbrev,longitude,latitude,city_longitude,city_latitude
country,,,,,,,,,
United States,9720,9720,9720,9720,9720,9720,9720,9720,9720

In [14]:
#Set counter for location ID
loc_df['loc_id'] = '' 
count = 0
for index, row in loc_df.iterrows(): 
    loc_df['loc_id'][index] = count + 1
    count +=1

#Order columns
loc_df = loc_df[['loc_id', 'location','description','city','state', 'state_abbrev', 'country', 'longitude', 'latitude', 'city_longitude', 'city_latitude']]
loc_df.head()

/Users/cintiaolivamercadomastach/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

,loc_id,location,description,city,state,state_abbrev,country,longitude,latitude,city_longitude,city_latitude
0,1,Ada Cemetery,Ada witch - Sometimes you can see a misty blue...,Ada,Michigan,MI,United States,-85.504893,42.962106,-85.495480,42.960727
1,2,North Adams Rd.,A little girl was killed suddenly while waitin...,Addison,Michigan,MI,United States,-84.381843,41.971425,-84.347168,41.986434
2,3,Ghost Trestle,If you take Gorman Rd. west towards Sand Creek...,Adrian,Michigan,MI,United States,-84.035656,41.904538,-84.037166,41.897547
3,4,Siena Heights University,"In the 1970's, one room, room 211, in the old ...",Adrian,Michigan,MI,United States,-84.017565,41.905712,-84.037166,41.897547
4,5,Albion College,Kappa Delta Sorority - The Kappa Delta Sororit...,Albion,Michigan,MI,United States,-84.745177,42.244006,-84.753030,42.243097

In [15]:
#Download data to .csv for importing into database
loc_df.to_csv("../static/data/haunted_locations.csv", index=False)